@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-black text-text;
  }
}

.ql-container {
  font-size: inherit !important;
  position: relative;
  border: none !important;
}
.ql-editor {
  padding: 0px !important;
  color: gainsboro !important;
}
.ql-editor.ql-blank::before {
  width: inherit !important;
  color: gray !important;
  font-style: normal !important;
  padding-left: 0px !important;
  margin-left: 0px !important;
  text-align: left !important;
  left: 0 !important;
  right: 0 !important;
  font-size: 20px;
}
.reactEasyCrop_CropArea {
  border: 2px solid #1d9bf0 !important;
}
* {
  -webkit-tap-highlight-color: transparent;
}
